* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../imagenes/fondo2.png);
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
}

.titulo {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

h2 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 50;
  font-style: italic;
}

h3 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-style: italic;
  text-align: center;
  line-height: 18px;
}

button {
  padding: 10px 35px;
  background-color: rgb(189, 69, 53);
  color: white;
  position: relative;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.subtitulo {
  margin: 0;
  color: rgb(0, 0, 0);
  display: inline;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.rama {
  color: #ff7855;
  margin: 7px 0;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  font-family: "Dancing Script", cursive;
  margin-top: 0;
}

.linea-division {
  width: 80%;
  height: 2px;
  background-color: rgba(224, 78, 41, 0.8);
}

/* ------------------------- */
/* Estilos de Materialize */
/* ------------------------- */
.carousel {
  min-height: 600px;
}

.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 500px;
  height: 600px;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
}

.carousel .indicators .indicator-item {
  border-radius: 0;
  transform: rotate(45deg);
  margin: 0 15px;
  background: #4a1158;
}
