h1 {
  font-style: italic;
  font-weight: 100;
  font-size: 45px;
  color: white;
  text-align: center;
  line-height: 65px;
}

h2 {
  font-style: italic;
  font-weight: 100;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 60px;
}

h3 {
  font-style: italic;
  font-weight: 100;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 60px;
}

p {
  color: white;
}

ul {
  text-decoration: none;
}
